body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6a4cc;
}

.container {
    max-width: 850px;
    margin: 20px auto;
    padding: 20px;
    background: #ebf6f6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

form input, form button {
    padding: 10px;
    border: 1px solid #59a8d9;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f4f4f9;
}

button {
    padding: 10px 18px;
    background-color: #d48cc4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #191a1a;
}

button:hover {
    background-color: #27ae60;
}

.add-btn {
    color: rgb(3, 3, 3);
    background-color: rgb(214, 142, 213);
    border: 2px solid #191a1a;
}

.edit-btn {
    color: white;
    background-color: rgb(100, 189, 90);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.delete-btn {
    color: white;
    background-color: rgb(251, 30, 30);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

